/vendor/
/node_modules/
/.env
/.env.example
/.git/
/storage/*.key
/storage/logs/*.log
/storage/app/codex-chrome-ui-check/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/public/build/
*.sql
*.zip
*.log
.phpunit.result.cache
_static_backup/
